@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800');

body {
  font-family: "Lato", sans-serif; font-weight: 700;
}
:root {
  --mainColor: #ff9800;
}
.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#ffbc6c
  /* #ffc988 */
  ;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 0px 8px 0px 32px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
  position: absolute;
}

.sidenav a:hover {
  /* background: linear-gradient(to bottom, var(--mainColor) 100%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 5px 5px;
  color: black;
  text-decoration: none; */
/*

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none; */
}
.closebtn{font-size: 36px;}

#mySidenav{line-height: 30px; font-size: 16px;}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}
.nav-big{font-size: 20px;}
.nav-small{font-size: 16px;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}
